  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  @font-face {
    font-family: 'tsBlock';
    src: url(fonts/TS\ Block\ Bold.ttf),
  }

  @font-face {
    font-family:'bellamy' ;
    src: url(fonts/Bellamy\ Stevenson.otf);
  }

  @font-face {
    font-family: bebas;
    src: url(fonts/BebasNeue-Regular.woff2);
  }

  @font-face {
    font-family: coolvetica;
    src: url(fonts/coolvetica\ rg.otf);
  }

  body {
      margin: 0;
      padding: 0;
      min-width: 768px;
      background-color: #161616; 
  }

  .accueil {
    background-color: #fae7cf; 
    text-align: center;
    padding: 450px;
    margin-bottom: 20px; 
  }

  section, footer {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
  }
  /*TITRE ET TEXT*/

  .accueil h1 {
    color: #333; 
    font-size: 3rem;
    text-align: center;
  }

  h1 {
    font-family: tsBlock;
    text-align: center;
    color: #333;
  } 

  h2{
    font-size: 2rem;
  font-family: bebas;
  color: #fae7cf;
  }

  section p{
  font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-family: coolvetica;
    text-align: left;
  }
  section p {
    text-align: left;
  }

  .text-position {
    font-size: 2rem;
    font-family: bellamy;
      position:fixed;
      top: 5%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 800px;
  }

  /*EFFET PARALLAX*/

  .parallax {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 100px;
    text-align: center; 
    overflow: hidden;
    height: 720px;
    justify-content: center;
    align-items: center;
  }

  .parallax img {
    display: block;
    margin: 0 auto; 
    height: 100%;
    object-fit: cover;
    margin-top: 1px;
  }


  .parallax h2{
      margin-bottom: 20px;
  }

  img {
    max-width: 100%; 
    height: auto; 
  }


  .parallax img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 1px;
    max-width: 700px;
  }

  /*ARROW POUR REMONTER*/

  #arrowContainer {
  
    position: fixed;
    bottom: 20px;
    right: 20px; 
    z-index: 900;
  }

  #arrowUp {
    font-size: 24px;
    width: 40px;
    height: 40px;
    border: 2px solid #fae7cf;
    background-color: #161616;
    color: #fae7cf;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  #arrowUp:hover {
    background-color: #fae7cf;
    color: #161616;
  }

  /*CREDITS*/

  footer {
    text-align: center;
  }

  .legal-notice {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: coolvetica; 
    text-align: center;
  }

  .legal-notice p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .close-button {
    cursor: pointer;
    color: #fae7cf;
    margin-left: 10px;
  }

  .close-button:hover {
    text-decoration: underline;
  }

  a{
    color:blue;
  }